extends layout

block append head
  script(src='/static/jquery-1.11.1.js')
  script(src='/static/jquery-ui.js')
  script(src='/static/events.js')
  
  style
    | .teamList li, form {
    |   display: inline;
    |   list-style-type: none;
    |   padding-right: 5px;
    | }
    | pre { font-size: 12; }
    | .current { background-color: #ffee77 }
    | .sortable-placeholder {
    |   height: 20px;
    |   display: block;
    | }

block pageTitle
  h1 Events

block pageContent
  ul#event-list
    each event in events
      li
        pre= JSON.stringify(event, null, '  ')
    li New Event:&nbsp;
      form(action='/api/events/' method='POST')
        input(type='hidden' name='game' value=game._id)
        select(name='team')
          each team in game.teams
            option(value=team)= teamsMap[team].name
        select#event-name(name='name')
          each event in prototypes
            option(value=event.name prototype=JSON.stringify(event))= event.name
        input#event-type(type='hidden' name='type')
        input#event-value(name='value')
        input(type='submit' value='Add')
        input(name='submitter' value='default')
        
        
