extends layout

block append head
  script(src='/static/events.js')
  
  style
    | form {
    |   display: inline;
    |   list-style-type: none;
    |   padding-right: 5px;
    | }
    | pre { font-size: 12; }
    | .current { background-color: #ffee77 }
    | .sortable-placeholder {
    |   height: 20px;
    |   display: block;
    | }
    | * { font-size: 32; }

block pageContent
  div
    | Timer controls:  
    form(action='/api/timer/start')
      input(type='submit' value='Start')
    form(action='/api/timer/stop')
      input(type='submit' value='Stop')
    form(action='/api/timer/reset')
      input(type='submit' value='Reset')
  select#team-select
    each team in game.teams
      option(value=team)= teamsMap[team].name
  input#submitter-field(value='default')
  ul
    each event in def.events
      li
        form(action='/api/events/' method='POST')
          each value,key in event
            input(type='hidden', name=key, value=value)
          input(type='hidden' name='game' value=game._id)
          input.team(type='hidden' name='team')
          input.submitter(type='hidden' name='submitter')
          input(type='submit' value=def.renderControl(event))
  ul#event-list
    each event in events
      li
        span.event
          // note that trailing whitespace matters
          // on the literal lines (i.e. | ...)
          = teamsMap[event.team].name
          | @
          = event.clock
          | , 
          = event.name
          |  (
          = event.state[event.team].score
          | ) [
          = event.submitter
          | ]   
        form(action='/api/events/' + event._id method='DELETE')
          input(type='submit' value='X')
        pre.event-full= JSON.stringify(event, null, '  ')
        
        
        
        
