extends layout

block append head
  script(src='/static/jquery-1.11.1.js')
  script(src='/static/jquery-ui.js')
  script(src='/static/games.js')

block pageTitle
  h1 Games

block pageContent
  ul
    each game in games
      li= JSON.stringify(game)
        h3 Teams
        ul
          each team in game.teams
            li
              form(action='/api/games/'+game._id+'/teams/'+team \
                method='DELETE')
                span= teamsMap[team].name
                input(type='submit' value='Remove')
        form(action='/api/games/'+game._id+'/teams' method='POST')
          select(name='team')
            each team in teams
              option(value=team._id)= team.name
          input(type='submit' value='Add')
        form(action='/api/games/'+game._id method='DELETE')
          input(type='submit' value='Delete')
        if game._id.toHexString() == current.toHexString()
          p current game
  h2 Teams List
  ul
    each team in teams
      li= JSON.stringify(team)
