extends layout

block append head
  script(src='/static/jquery-1.11.1.js')
  script(src='/static/jquery-ui.js')
  script(src='/static/games.js')
  
  style
    | form {
    |   display: inline;
    |   list-style-type: none;
    |   padding-right: 5px;
    | }
    | pre { font-size: 12; }
    | .current { background-color: #ffee77 }
    | .sortable-placeholder {
    |   height: 20px;
    |   display: block;
    | }
    | * { font-size: 24; }

block pageTitle
  h1 Games

block pageContent
  ol#games-list
    each game in gamesUpcoming
      if !(game)
        li
          pre EMPTY
        - continue
      - isCurrent = (game._id.toHexString() == current.toHexString());
      li.game-item(class=(isCurrent ? 'current' : undefined)
            id=game._id.toHexString())
        div
          a(href='/events/'+game._id) go to game
        ul.teamList
          each team in game.teams
            li
              form(action='/api/games/'+game._id+'/teams/'+team
                    method='DELETE')
                span= teamsMap[team].name
                input(type='submit' value='X')
          li
            form(action='/api/games/'+game._id+'/teams' method='POST')
              select(name='team')
                each team in teams
                  option(value=team._id)= team.name
              input(type='submit' value='Add')
          li
            form(action='/api/games/'+game._id method='DELETE')
              input(type='submit' value='Delete')
          if isCurrent
            li
              form(action='/api/games/complete' method='POST')
                input(type='submit' value='Finish')
          else
            li
              form(action='/api/games/'+game._id+'/start' method='POST')
                input(type='submit' value='Start')
        //pre= JSON.stringify(game, null, '  ')
  form(action='/api/games/' method='POST')
    input(type='submit' value='New Game')
  ul
    each game in gamesFinished
      li= game.completed
        ul.teamList
          each team, i in game.teams
            li
              span= teamsMap[team].name
                if game.scores && game.scores[i] != undefined
                  | &nbsp; 
                  span
                    | (
                    = game.scores[i]
                    | )
        //pre= JSON.stringify(game, null, '  ')
